
 
 
 .header_space_setence{
     position: fixed;
     width: 59.7%;
     height: 48px;
     background-color: blueviolet;
 
 }

 .split-para  { 
     display:block;
     margin:10px;
     color: white;
     font-size: 24px;
 }
 
 .container.body-container{
    padding-top: 90px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .col-sm{
    border: 1px solid;
    border-top: 0;
    border-right: 0;
    border-color: blueviolet;
    
  }
 
 .split-para span { 
     display:block;
     float:right;
     padding-left: 40px;
 }
 
 
 .split-para2  span { 
     display:block;
     float:right;
     margin-left:5px;
     margin-right: 5px;
     text-decoration-line: underline;
     text-decoration-color: blueviolet;
 }
 
 .buttonDiv2 {
     width: 100%;
     height: 64px;
     text-align:center;
     position: absolute;
     bottom:   0;
 }
 
 button {
     width: 150px; height: 48px;
     border-radius: 12px;
     font-size: 24px;
     color: white
 }